/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0 0;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px darkgray;
     
}

h1 {
      text-shadow: 0px 0px 3px darkgray;
      color: white;
      font-size: 60px;    
}


#hero-section {
    padding: 180px 0 200px 0;
    background-image: url("images/Bali-green-img.jpg");
    background-size: cover;
    margin-bottom: 0px;
}

#activity-section {
    margin: 0px 0;
    padding: 40px 0 120px 0;
    background: lightgrey;
}

#activity-title {
    margin: 20px 0 50px;
    color: #965126ff;
}

.activity-list {
    display: flex;
    justify-content: space-around;
}

img {
    width: 250px; 
    height: 250px;
    margin: 0 0px 0 0px;
    object-fit: cover;
    border-radius: 10px;
}

#guide-section {
    padding: 90px 0;
    color: lightgray;
    display: flex;
    justify-content: space-around;
    margin: 0px 0px;
    text-align: center;
    background: #b08968;
 
}

#guide-img {
    border: 6px solid lightgrey;
    border-radius: 8px;

}

#guide-text {
    height: 200px;
    width: 400px;
    font-size: 20px;
    text-align: center;
}

#img-opt-1::grammar-error {
    width: 300px;
    height: 300px;
}

